# Node dependencies
node_modules/

# Build output
dist/

# TypeScript cache
*.tsbuildinfo

# Local environment variables or secrets
.env
.env.*

# MacOS system files
.DS_Store

# VSCode settings (optional)
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: jika menggunakan editor lain
.idea/
